.register-form-container {
  display: flex;

  .logo {
    display: none;
  }

  .back-button {
    margin-top: 10px;
  }

  .register-form {
    width: 35%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .title {
      text-align: center;
    }

    .user-infos {
      width: 100%;
    }

    .register-button,
    .text-center {
      margin: auto;
    }
  }
}


// Rules for responsive design
@media (max-width: 768px) {

  .register-form-container {
    flex-wrap: wrap;

    .logo {
      display: block;
      text-align: center;
    }

    .register-form {
      width: 90%;
      gap: 1.3rem;
    }
  }
}
