<p-card [header]="topic.name">
  <ng-template pTemplate="content">
    <p class="card-content">{{ topic.description }}</p>
  </ng-template>
  <ng-template pTemplate="footer">
    @if (isSubscription) {
      <p-button
        label="{{ isSubscribed ? 'Déjà abonné' : 'S\'abonner' }}"
        [disabled]="isSubscribed"
        [severity]="isSubscribed ? 'secondary' : 'primary'"
        (onClick)="emitTopicId()" >
      </p-button>
    } @else {
      <p-button
        label="Se désabonner"
        (onClick)="emitTopicId()" >
      </p-button>
    }
  </ng-template>
</p-card>
