.user-profil-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1.5rem;

  .user-edit-container {
    width: 35%;
  }
}

.user-topics-container {
  text-align: center;
}
