<main>
  <section>
    <p-button icon="pi pi-arrow-left" variant="text" severity="secondary" class="back-button" size="large" (onClick)="goBack()" />
    <div class="post-form-container">
      <form [formGroup]="postForm" class="post-form">
        <h1 class="page-title">Créer un nouvel article</h1>
        <div>
          <p-select formControlName="selectedTopic" [options]="topics" optionLabel="name" optionValue="id" placeholder="Sélectionner un thème" class="topic-select" />
          @if (postForm.invalid && (postForm.get('selectedTopic')?.touched || postForm.get('selectedTopic')?.dirty)) {
            @if (postForm.hasError('required', 'selectedTopic')) {
            <p-message severity="error" variant="simple" text="Le thème est requis"/>
            }
          }
        </div>
        <div>
          <input type="text" pInputText formControlName="title" placeholder="Titre de l'article" class="post-title" />
          @if (postForm.invalid && (postForm.get('title')?.touched || postForm.get('title')?.dirty)) {
            @if (postForm.hasError('required', 'title')) {
            <p-message severity="error" variant="simple" text="Le titre est requis"/>
            } @else if (postForm.hasError('maxlength', 'title')) {
            <p-message severity="error" variant="simple" text="Le titre doit faire moins de 100 caractères"/>
            }
          }
        </div>
        <div>
          <textarea rows="10" pTextarea formControlName="content" placeholder="Contenu de l'article" class="post-content"></textarea>
          @if (postForm.invalid && (postForm.get('content')?.touched || postForm.get('content')?.dirty)) {
            @if (postForm.hasError('required', 'content')) {
              <p-message severity="error" variant="simple" text="Le contenu de l'article est requis"/>
            } @else if (postForm.hasError('maxlength', 'content')) {
              <p-message severity="error" variant="simple" text="Le contenu doit faire moins de 65535 caractères"/>
            }
          }
        </div>
        <p-button [disabled]="postForm.invalid" class="create-post-button" (onClick)="onAddPost()">Créer</p-button>
      </form>
    </div>
  </section>
</main>
