section {
  display: flex;
  justify-content: flex-start;

  .back-button {
    margin-top: 1rem;
  }

  .post-form-container {
    margin: auto;
    width: 40%;

    .post-form {
      display: grid;
      gap: 1.5rem;
      place-items: center stretch;

      .page-title,
      .create-post-button{
        text-align: center;
      }
    }
  }
}

.topic-select,
.post-form,
.post-title,
.post-content{
  width: 100%;
}
