section {
  display: flex;
  justify-content: flex-start;

  .back-button {
    margin-top: 0.5rem;
  }

  .post-form-container {
    margin: auto;
    width: 40%;

    .post-form {
      display: grid;
      gap: 1.5rem;
      place-items: center stretch;

      .page-title,
      .create-post-button{
        text-align: center;
      }
    }
  }
}

.topic-select,
.post-form,
.post-title,
.post-content{
  width: 100%;
}


// Rule for responsive design
@media screen and (max-width: 960px) {
  section {
    flex-wrap: wrap;

    .post-form-container {
      width: 90%;

      .post-form {
        gap: 1rem;

        .page-title {
          margin: 0.5rem;
        }
      }
    }
  }

}
